*
!package.json
!package-lock.json
!server/**
!bin/**
!src/**
!public/**
!index.html
!vite.config.ts
!tsconfig.json
!tsconfig.node.json
!postcss.config.js
!tailwind.config.ts
!lazycat/vite.env.production

server/**/*.log
server/**/dist
dist
node_modules
lazycat/.local
lazycat/dist
